<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <config>
        <add key="repositoryPath" value=".\Build\PackageDependencies" />
    </config>
    <packageSources>
        <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
        <add key="uScoober.Dev" value="..\uScoober\Build\Artifacts\" />
    </packageSources>
</configuration>