<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="uScoober" version="0.95.0" targetFramework="netmf43" />
  <package id="uScoober.Hardware.Boards.NetduinoPlus2" version="0.13.0" targetFramework="netmf43" developmentDependency="true" />
  <package id="uScoober.Hardware.Input.Button" version="0.5.0" targetFramework="netmf43" />
  <package id="uScoober.Hardware.Light.Led" version="0.6.0" targetFramework="netmf43" />
  <package id="uScoober.Hardware.Motors.BrushlessSpeedController" version="0.14.0" targetFramework="netmf43" />
  <package id="uScoober.Hardware.Spot.Analog" version="0.16.0" targetFramework="netmf43" developmentDependency="true" />
  <package id="uScoober.Hardware.Spot.Digital" version="0.16.0" targetFramework="netmf43" developmentDependency="true" />
  <package id="uScoober.Hardware.Spot.I2C" version="0.17.0" targetFramework="netmf43" developmentDependency="true" />
  <package id="uScoober.Hardware.Spot.Pwm" version="0.16.0" targetFramework="netmf43" developmentDependency="true" />
  <package id="uScoober.Hardware.Spot.Spi" version="0.17.0" targetFramework="netmf43" developmentDependency="true" />
  <package id="uScoober.Threading" version="0.95.0" targetFramework="netmf43" />
</packages>